:root[data-theme="dulak"] {
    --text: oklch(.15 .17 330);
    --background: oklch(.96 .085 330);
    --primary: oklch(.4 .17 330);
    --secondary: oklch(.4 .17 150);
    --accent: oklch(61.826% 0.19421 327.592);
}